@use "mixins" as m;
@use "variables" as v;

.firstarrow {
  @include m.arrowposition;
}

.secondarrow {
  a span {
    @include m.arrowposition;
    color: v.$textcolor;
    padding: 1em;
  }

  @include m.desktop {
    width: 100%;
  }
}
