@use "mixins" as m;

.firstarrow {
  @include m.arrowposition;
}

.secondarrow {
  a span {
    @include m.arrowposition;
    color: black;
    padding: 1em;
  }

  @include m.desktop {
    width: 100%;
  }
}
