@use "variables" as v;

@mixin desktop {
  @media screen and (min-width: 1100px) {
    @content;
  }
}

@mixin flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: v.$center;
  align-items: v.$center;
}

@mixin flexrow {
  display: flex;
  flex-direction: row;
  justify-content: v.$center;
  align-items: v.$center;
}

@mixin arrowposition {
  display: flex;
  flex-direction: column;
  align-items: v.$center;
  font-size: 1.7em;
}
