@use "mixins" as m;

.nav {
  position: relative;
  width: 100%;
  height: 2em;

  &__toggle {
    position: absolute;
    cursor: pointer;
    margin: 1rem;
    right: 0;
    fill: white;

    @include m.desktop {
      display: none;
    }

    svg {
      width: 2em;
    }

    .close {
      display: none;
    }
  }

  &__checkbox {
    display: none;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.251);

    @include m.desktop {
      flex-direction: row;
      justify-content: end;
      height: 4em;
    }

    li {
      list-style: none;
      display: none;
      font-size: 25px;

      @include m.desktop {
        display: block;
        padding: 0.5em;
        margin-right: 0.5em;
      }
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
}

/*When checked*/
#nav__checkbox:checked ~ ul.nav__menu li {
  display: inline-block;
}
#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
}
#nav__checkbox:checked ~ label.nav__toggle .menu {
  display: none;
}

ul.nav__menu li:hover {
  text-decoration: underline;
}
