@use "mixins" as m;
@use "variables" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  scroll-behavior: smooth;
}

body {
  height: v.$fullviewportheight;
  background-image: url(/src/scss/images/forest.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: v.$center;
  background-attachment: fixed;
}

main {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: v.$center;
    text-align: v.$center;
    height: v.$fullviewportheight;

    &__header {
      font-weight: 700;
      font-size: 40px;
    }

    &__subheader {
      font-weight: 100;
      font-size: 30px;
    }
    &__header,
    &__subheader {
      padding: 25px;
    }
  }
}

.about {
  background-color: #fff;
  width: 100%;
  font-size: 20px;

  @include m.desktop {
    display: flex;
    flex-wrap: wrap;
  }

  &__contact {
    text-align: v.$center;

    @include m.desktop {
      width: 100%;
    }
  }

  &__info {
    margin: 2em;
  }

  &__contact,
  &__info,
  &__name {
    color: v.$textcolor;
    padding: 0.5em;
  }

  &__presentation {
    @include m.flexcolumn;

    @include m.desktop {
      flex: 50%;
      flex-wrap: wrap;
    }
  }

  &__members {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.552);
  }

  &__info {
    display: flex;
    justify-content: v.$center;
    align-items: v.$center;
    background-color: rgb(238, 232, 232);
    height: 7em;
    width: 65%;
    border-radius: 0.5em;
  }

  &__text {
    color: v.$textcolor;
    padding: 1.5em;
  }

  i {
    color: v.$textcolor;
    font-size: 40px;
  }
}

.footer {
  background-color: black;
  font-size: 20px;

  @include m.flexcolumn;

  &__content {
    @include m.desktop {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
  }

  &__content ul {
    padding: 1em;
  }

  &__content ul li {
    list-style: none;
    line-height: 2em;
  }

  &__content ul li a {
    padding-right: 1em;
  }
}
